
@{
    ViewBag.Title = "AddForbiddenWord";
}

<link rel="stylesheet" href="~/Content/Styles/buttons.css" />
<body>
    <main class="main-container">
        <div class="main">
            <h2>Dodaj Zakazane Słowo</h2>
            <p style="text-align:center;font-size:20px;">Wprowadź słowo, które chcesz dodać do listy zakazanych słów.</p>
            <hr />

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <label for="word">Słowo:</label>
                    <input type="text" id="word" name="word" class="form-control" required />
                </div>

                <button type="submit" class="btn-custom">Dodaj Słowo</button>
                <a href="@Url.Action("ForbiddenWords", "AdminPanel")" class="btn-custom" style="text-decoration:none;padding: 7px;">Anuluj</a>
            }
        </div>
    </main>
</body>

