
@{
    ViewBag.Title = "AddForbiddenWord";
}

<link rel="stylesheet" href="~/Content/Styles/threads.css" />
<body>
    <main class="main-container-2">
        <div class="main">
            <h2>Wprowadź słowo, które chcesz dodać do listy zakazanych słów:</h2>
            <hr />

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <label for="word">Słowo:</label>
                    <input type="text" id="word" name="word" class="form-control" required />
                </div>

                <div class="button-container">
                    <button type="submit" class="btn-cust">Dodaj słowo</button>
                    <a href="@Url.Action("ForbiddenWords", "AdminPanel")" class="btn-cust" style="text-decoration:none;">Anuluj</a>
                </div>
            }
        </div>
    </main>
</body>

