@model IEnumerable<Forum.Models.ForbiddenWord>
@{
    ViewBag.Title = "Słownik słów zakazanych";
}
<link rel="stylesheet" href="~/Content/Styles/threads.css" />
<link rel="stylesheet" href="~/Content/Styles/table.css" />
<body>
    <main class="main-container-2">
        <div class="main">
            <h2>Słownik słów zakazanych</h2>
            <hr />
            <div class="button-container">
                <a href="@Url.Action("AddForbiddenWord", "AdminPanel")" class="btn-cust" style="text-decoration:none;">Dodaj</a>
            </div>
            <hr />
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Słowo</th>
                            <th>Operacja</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var word in Model)
                        {
                            <tr>
                                <td>@word.Word</td>
                                <td>
                                    @using (Html.BeginForm("DeleteForbiddenWord", "AdminPanel", new { id = word.Id }, FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        <button type="submit" class="btn-cust">Usuń</button>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</body>
