@model Forum.Models.Message

@{
    ViewBag.Title = "Usuwanie Wiadomości";
}
@if (User.IsInRole("moderator") || User.IsInRole("admin"))
{
    <link rel="stylesheet" href="~/Content/Styles/threads.css" />
    <body>
        <main class="main-container-2">
            <div class="main">
                <div>
                    <h2 style="text-align:center;">Czy na pewno chcesz usunąć tę wiadomość?</h2>
                    <hr />
                    <p style="text-align:center;">@Model.Content</p>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="button-container">
                            <button type="submit" class="btn-cust">Usuń</button>
                            @Html.ActionLink("Anuluj", "Details", "Threads", new { id = Model.ThreadId }, new { @class = "btn-cust", style = "text-decoration:none;padding: 7px;" })
                        </div>
                    }
                </div>
            </div>
        </main>
    </body>
}
else
{
    Response.Redirect("~/Account/Login");
}