@model Forum.Models.Message

@{
    ViewBag.Title = "Usuwanie Wiadomości";
}
@if (User.IsInRole("moderator") || User.IsInRole("admin"))
{
    <link rel="stylesheet" href="~/Content/Styles/threads.css" />
    <body>
        <main class="main-container-del">
            <div class="main">
                <h2>Usuwanie Wiadomości</h2>

                <div>
                    <p style="text-align:center;font-size:20px;">Czy na pewno chcesz usunąć tę wiadomość?</p>
                    <hr />
                    <p>@Model.Content</p>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <button type="submit" class="btn-custom">Usuń</button>
                        @Html.ActionLink("Anuluj", "Details", "Threads", new { id = Model.ThreadId }, new { @class = "btn-custom", style = "text-decoration:none;padding: 7px;" })
                    }
                </div>
            </div>
        </main>
    </body>
}
else
{
    Response.Redirect("~/Account/Login");
}