@model Forum.Models.Message

@{
    ViewBag.Title = "Edycja Wiadomości";
}

<h2>Edycja Wiadomości</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.Content)
        @Html.TextAreaFor(m => m.Content, new { @class = "form-control", rows = 5 })
    </div>

    <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
    @Html.ActionLink("Anuluj", "Details", "Threads", new { id = Model.ThreadId }, new { @class = "btn btn-secondary" })
}
