@model Forum.Models.Message

@{
    ViewBag.Title = "Edycja Wiadomości";
}
@if (User.IsInRole("moderator") || User.IsInRole("admin"))
{
    <link rel="stylesheet" href="~/Content/Styles/threads.css" />
    <body>
        <main class="main-container">
            <div class="main">
                <h2>Edycja Wątku</h2>
                <hr />
                <h2>Edycja Wiadomości</h2>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        @Html.LabelFor(m => m.Content)
                        @Html.TextAreaFor(m => m.Content, new { @class = "form-control", rows = 5 })
                    </div>

                    <button type="submit" class="btn-create" style="margin-left: -20px;">Zapisz zmiany</button>
                    @Html.ActionLink("Anuluj", "Details", "Threads", new { id = Model.ThreadId }, new { @class = "btn-create", style = "text-decoration: none;" });
                }
            </div>
        </main>
    </body>
}
else
{
    Response.Redirect("~/Account/Login");
}
