@model Forum.Models.Message

@{
    ViewBag.Title = "Edycja Wiadomości";
    var errorMessage = TempData["ErrorMessage"] as string;
}
@if (User.IsInRole("moderator") || User.IsInRole("admin"))
{
    <link rel="stylesheet" href="~/Content/Styles/threads.css" />
    <body>
        <main class="main-container-2">
            <div class="main">
                <h2>Edycja wiadomości</h2>
                <hr />
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.LabelFor(m => m.Content, "Treść")
                        @Html.TextAreaFor(m => m.Content, new { @class = "form-control", rows = 5 })
                    </div>
                    <div class="button-container">
                        <button type="submit" class="btn-cust">Zapisz zmiany</button>
                        @Html.ActionLink("Anuluj", "Details", "Threads", new { id = Model.ThreadId }, new { @class = "btn-cust", style = "text-decoration: none;" })
                    </div>
                }
            </div>
        </main>
    </body>
}
else
{
    Response.Redirect("~/Account/Login");
}

@if (!string.IsNullOrEmpty(errorMessage))
{
    <script>
        alert('@errorMessage');
    </script>
}
