@model Forum.Models.Notice
@{
    ViewBag.Title = "Usuwanie ogłoszenia";
}

<link rel="stylesheet" href="~/Content/Styles/threads.css" />
<body>
    <main class="main-container-2">
        <div class="main">
            <h2 style="text-align:center;font-size:20px;">Czy na pewno chcesz usunąć to ogłoszenie?</h2>
            <hr />
            <div style="text-align:center;">
                <h3>Tytuł: @Model.Title</h3>
                <p>@Model.Content</p>
            </div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="button-container">
                    <button type="submit" class="btn-cust">Usuń</button>
                    @Html.ActionLink("Anuluj", "Details", "Notice", new { id = Model.Id }, new { @class = "btn-cust", style = "text-decoration:none;padding: 7px;" })
                </div>
            }
        </div>
    </main>
</body>

