/* Stylizacja przycisków */
.btn-custom {
    background-color: transparent;
    border: none;
    border-radius: 3px;
    color: black;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
    display: inline-block;
    min-width: 214px;
    padding: 5px;
    text-align: left;
    font-size: 1em;
}

    .btn-custom:hover {
        background-color: black !important;
        color: white !important;
        text-decoration: none;
    }
