.main-content {
    padding: 60px 20px;
    margin: 0 auto;
    color: #edeef0;
}

.main {
    padding: 30px 20px;
    background-color: #5d5f64;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

    .main h2, h4 {
        text-align: center;
    }

.btn-custom {
    margin-top: 10px;
    background-color: #141415;
    color: #edeef0;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    position: relative;
    right: 50%;
    left: 44%;
    transition: background-color 0.3s, color 0.3s;
}

    .btn-custom:hover {
        background-color: #edeef0;
        color: #141415;
    }