.main-container {
    padding: 60px 20px;
    margin: 0 auto;
    color: #edeef0;
    position: relative;
    left: 110%;
    width: 120%;
    accent-color: #5d5f64;
}

.main-container-2 {
    padding: 60px 20px;
    margin: 0 auto;
    color: #edeef0;
    width: 75vw;
    accent-color: #5d5f64;
}

.main-container-del {
    padding: 60px 20px;
    margin: 0 auto;
    color: #edeef0;
    position: relative;
    accent-color: #5d5f64;
}

.main-content {
    padding: 60px 20px;
    margin: 0 auto;
    color: #edeef0;
    min-height: 80vh;
    min-width: 75vw;
    overflow-x: hidden;
}

.form-group {
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
}

.form-group-2 {
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
    width: 50%;
}

.main {
    padding: 30px 20px;
    background-color: #5d5f64;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    display: flex;
    flex-direction: column;
}

    .main h2, h4 {
        text-align: center;
    }

    .main p {
        font-size: 16px;
        padding-left: 10px;
    }

.search-bar-messages {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.btn-custom {
    margin-top: 10px;
    background-color: #141415;
    color: #edeef0;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    position: relative;
    right: 50%;
    left: 44%;
    transition: background-color 0.3s, color 0.3s;
}
    
    .btn-custom:hover {
        background-color: #edeef0;
        color: #141415;
    }

.button-container {
    display: flex;
    gap: 10px;
    justify-content: center;
}

    .button-container a {
        width: 65px;
        text-align: center;
        display: block;
        padding: 5px;
        border-radius: 5px;
    }

.btn-cust {
    background-color: #141415;
    color: #edeef0;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
}

    .btn-cust:hover {
        background-color: #edeef0;
        color: #141415;
    }

.btn-custom-2, .btn-custom-active{
    margin-top: 10px;
    background-color: #141415;
    color: #edeef0;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    position: relative;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
}

    .btn-custom-2:hover, .btn-custom-active:hover {
        background-color: #edeef0;
        color: #141415;
    }

.btn-custom-active {
    background-color: #503873;
    color: #edeef0;
}

.btn-create {
    margin-top: 10px;
    background-color: #141415;
    color: #edeef0;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    position: relative;
    right: 50%;
    left: 30%;
    transition: background-color 0.3s, color 0.3s;
}
    .btn-create:hover {
        background-color: #edeef0;
        color: #141415;
    }

.list {
    accent-color: #5d5f64;
}