@model Forum.Models.Thread
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Usuwanie Wątku";
    var currentUserId = User.Identity.GetUserId();
    bool isAuthor = Model.UserId == currentUserId;
}

@if (User.IsInRole("admin") || isAuthor)
{
    <link rel="stylesheet" href="~/Content/Styles/threads.css" />
    <body>
        <main class="main-container-del">
            <div class="main">
                <h2>Usuwanie Wątku</h2>
                <p style="text-align:center;font-size:20px;">Czy na pewno chcesz usunąć ten wątek?</p>
                <hr />
                <div>
                    <h3>Tytuł: @Model.Title</h3>
                    <p>@Model.Content</p>
                </div>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn-custom">Usuń</button>
                    @Html.ActionLink("Anuluj", "Details", "Threads", new { id = Model.Id }, new { @class = "btn-custom", style = "text-decoration:none;padding: 7px;" })
                }
            </div>
        </main>
    </body>
}
else
{
    Response.Redirect("~/Account/Login");
}

