@model Forum.Models.Thread
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Usuwanie wątku";
    var currentUserId = User.Identity.GetUserId();
    bool isAuthor = Model.UserId == currentUserId;
}

@if (User.IsInRole("admin") || isAuthor)
{
    <link rel="stylesheet" href="~/Content/Styles/threads.css" />
    <body>
        <main class="main-container-2">
            <div class="main">
                <h2 style="text-align:center;">Czy na pewno chcesz usunąć ten wątek?</h2>
                <hr />
                <div style="text-align:center;">
                    <h3>Tytuł: @Model.Title</h3>
                    <p>@Model.Content</p>
                </div>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="button-container">
                        <button type="submit" class="btn-cust">Usuń</button>
                        @Html.ActionLink("Anuluj", "Details", "Threads", new { id = Model.Id }, new { @class = "btn-cust", style = "text-decoration:none;padding: 7px;" })
                    </div>
                }
            </div>
        </main>
    </body>
}
else
{
    Response.Redirect("~/Account/Login");
}

