
@{
    ViewBag.Title = "Category";
}

<h2>Category</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nazwa</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Name</td>
                <td>@Html.ActionLink("Wyświetl", "Index", "Threads", new { categoryId = category.Id }, null)</td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Create", "Categories")" class="btn btn-primary">Dodaj Kategorię</a>