@model Forum.Models.Category

@{
    ViewBag.Title = "Dodaj kategorię";
}

<h2>Dodaj kategorię</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Zapisz kategorię</button>
}
