@model Forum.Models.Category

@{
    ViewBag.Title = "Edytuj kategorię";
}
<link rel="stylesheet" href="~/Content/Styles/threads.css" />
<body>
    <main class="main-container-2">
        <div class="main">
            <h2>Edytuj kategorię</h2>
            <hr />
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, "Nazwa")
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                </div>

                <div class="button-container">
                    <button type="submit" class="btn-cust">Zapisz kategorię</button>
                </div>
            }
        </div>
    </main>
</body>


